</main>
</body>
<%if(locals.forUser && !locals.pastBlogs){%>
<div class="foot">
    <footer>Copyright &copy; 2024</footer>
</div>
<%} else{%>
    <div class="falseFoot">
        <footer>Copyright &copy; 2024</footer>
    </div>
<%}%>

</html>